<footer>
  <div class="line"></div>
  <p>You reach the end <a href="/" style="text-decoration: underline;">back to home page</a> <span class="variable_link">OR <a href="/signup" style="text-decoration: underline;">SignUp to share your notes</a> </span></p>
</footer>
</body>

</html>