:root {
  --color1: #331d2c;
  --color2: #3f2e3e;
  --color3: #a78295;
  --color4: #efe1d1;
  --color5: #d9d9d9;
}
body {
  background-color: var(--color1);
  color: var(--color4);
  margin: 0;
  font-size: 1.125rem;
  font-family: "Nunito Sans", sans-serif;
}
h1 {
  transition: all 0.3s;
  font-size: 3.125rem;
  font-family: "Source Serif 4", serif;
  color: var(--color3);
  margin-top: 0;
  margin-bottom: 0.5rem;
}
header h1:hover {
  color: #b99baa;
}

a {
  text-decoration: none;
  color: var(--color4);
}
.line {
  border: 0.0625rem solid var(--color4);
  margin-bottom: 1.25rem;
}
nav {
  position: relative;
  background-color: var(--color2);
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  border-bottom: 0.0625rem solid var(--color3);
}
a {
  transition: all 0.3;
}
a:hover {
  color: var(--color3);
}
nav h1,
h2 {
  margin: 0;
}
nav h2 {
  font-size: 1.25rem;
}
main {
  margin: auto;
  padding: 1.25rem;
  min-height: calc(100vh - 10.3125rem);
}
.form-block {
  max-width: 50rem;
  background-color: var(--color2);
  margin: 0.625rem auto;
  border-radius: 0.625rem;
  padding: 1.25rem;
}
#index .block2 {
  min-height: 23.3125rem;
  position: relative;
}
#index .form-block h2,
#new .form-block h2 {
  text-align: center;
}
#new #add-form {
  display: grid;
  /* grid-template-rows: repeat(6, 1fr) 26.25rem; */
  grid-template-columns: 10.625rem 1fr 10.625rem;
  gap: 1.25rem;
  align-items: center;
}
#new #nots {
  grid-column: span 2;
}
textarea {
  height: 25rem;
}
#new input,
textarea {
  padding: 0.625rem;
  border-radius: 0.625rem;
  background-color: var(--color5);
}
#radio-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
}
#add-form label {
  font-size: 1.3125rem;
}

#index .form-block h2 {
  text-align: left;
}
#index > div > p:nth-child(4) > a,
.links a,
#view a {
  color: var(--color3);
}
#index > div > p:nth-child(4) > a:hover,
.links a:hover,
#view a:hover {
  text-decoration: underline;
}
.content h2 {
  text-decoration: underline;
  margin-bottom: 0;
}
.content h2:hover {
  color: var(--color3);
}
.content .review {
  text-transform: uppercase;
  color: var(--color3);
  font-size: 0.9375rem;
  margin-top: 0.625rem;
}
#view .cover {
  height: 11.6875rem;
  width: 7.8125rem;
  margin: 1.75rem;
  float: left;
}
#index .cover {
  height: 11.6875rem;
  width: 7.8125rem;
  margin-right: 2rem;
  margin-top: 0.625rem;
  float: left;
}
#new .cover {
  height: 11.6875rem;
  width: 7.8125rem;
  align-self: center;
}
#index .links {
  position: absolute;
  bottom: 0.625rem;
}
#view h2 {
  text-decoration: none;
  padding-top: 1.25rem;
  font-size: 2.5rem;
}
#view ul li {
  list-style-type: none;
  margin: 0.5rem;
  color: var(--color3);
}
.section1 {
  min-height: 13.75rem;
}
footer p {
  color: var(--color3);
  text-align: center;
}

footer .line {
  border-color: var(--color3);
}

input[type="submit"]:hover {
  background-color: var(--color2) !important;
  color: var(--color4);
}
form.buttons {
  position: absolute;
  bottom: 1.875rem;
  right: 1.25rem;
  display: flex;
  gap: 0.625rem;
}
form.buttons input {
  background-color: var(--color1);
  color: var(--color4);
  padding: 0.3125rem;
  border: 0.0625rem solid var(--color1);
  border-radius: 0.3125rem;
}
form.buttons input:hover {
  background-color: var(--color4) !important;
  color: var(--color1);
  cursor: pointer;
}
form.button input:active {
  background-color: var(--color3);
}

textarea,
#nots {
  grid-column: span 3;
}
.poster-img {
  grid-row: span 3;
  border: 1px solid #a78295;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}
.poster-upload {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  justify-content: center;
  color: #a78295
}
.poster-upload svg {
  fill: #a78295;
}
.radio-buttons {
  grid-column: span 2;
}
.input-span {
  grid-column: span 2;
}
